body {
	max-width: 768px;
	margin: 0 auto;
}
.comeback{
	float: left;
}
.layui-icon{
	float: left;
}

/* 返回顶部 */
.go-top {
	position: fixed;
	bottom: 20px;
	right: 15px;
	display: none;
	cursor: pointer;
	width: 2.5rem;
	border-radius: 50%;
	z-index: 999;
}

