.file-title {
	text-align: center;
	line-height: 3rem;
	font-size: 1.08rem;
}

.back {
	position: absolute;
	left: .3rem;
	top: 0px;
	line-height: 3rem;
	font-size: 1rem;
	text-align: center;
	color: rgba(72, 156, 245, 1);
	background-color: rgba(153, 153, 153, 0);
}
.lossContent{
	font-size: 1rem;
}
.loss {
	margin: 2rem 0 1rem;
	text-align: center;
}

.loss img {
	height: 4rem;
	width: 3.8rem;
}

.lossBox {
	margin-top: 3rem;
	line-height: 2rem;
}

.lossBox p {
    padding: 1rem 0rem 0.3rem;
    border-bottom: 1px solid #eceaea;
    font-size: 0.86rem;
    color: #000;

}

.lossBox span {
	color:#999;
	float: right;
    font-weight:500; 
}

.warn {
	margin-top: 0.6rem;
/*	color: gray;*/
	color:#c0bdbd;
	font-size: 0.86rem;
}
.lossBtn{
	margin-top: 2rem;
	width: 98%;
	background-color: rgb(0,95,166);
	margin-bottom: 240px;
}
.layui-btn {

    height: 35px;
    line-height: 35px;
    font-size: 0.86rem;
    border: none;
    border-radius: 5px;
   
}
